{% extends "comics_list_app/base.html" %}
{% block title %}
一覧を表示する予定
{% endblock title %}

{% block content %}
    <h3>一覧表示</h3>
    <a href="{% url 'comics_list_app:add' %}" class="btn btn-primary btn-sm">追加</a>

    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>volume</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for comic_info in comics_list %}
            <tr>
                <td>{{ comic_info.id }}</td>
                <td>{{ comic_info.title }}</td>
                <td>{{ comic_info.volume }}</td>
                <td>{{ comic_info.updated_at }}</td>
                <td>{{ comic_info.updated_at }}</td>
                <td>
                    <a href="{% url 'comics_list_app:edit' id=comic_info.id %}" class="btn btn-primary btn-sm">編集</a>
                    <a href="{% url 'comics_list_app:delete' id=comic_info.id %}" class="btn btn-primary btn-sm" id="btn_del">削除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}