{% extends "comics_list_app/base.html" %}
{% block title %}
My Comics List
{% endblock title %}

{% block content %}
    <a href="{% url 'comics_list_app:add' %}" class="btn btn-primary btn-sm">Add</a>

    <table class="tbl_comics_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>volume</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for comic_info in comics_list %}
            <tr>
                <td>{{ comic_info.title }}</td>
                <td>{{ comic_info.volume }}</td>
                <td>{{ comic_info.created_at }}</td>
                <td>{{ comic_info.updated_at }}</td>
                <td>
                    <a href="{% url 'comics_list_app:edit' id=comic_info.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <br>
                    <a href="{% url 'comics_list_app:delete' id=comic_info.id %}" class="btn btn-primary btn-sm" id="btn_del">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}